chrome-top,
chrome-footer {
	flex-basis: 2rem;
	display: flex;
	align-items: center;
	padding: 0.5rem;
}
chrome-left,
chrome-right {
	flex-basis: 6rem;
	padding: 0.5rem;
}
chrome-content {
	flex-grow: 1;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	padding: 0.5rem;
}